.teamCard,
.resourceCard {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid transparent;
    border-radius: .25rem;
    box-shadow: 0 0 0.875rem 0 rgba(41, 48, 66, 0.05);
    header {
        position: relative;
        width: 100%;
        height: 140px;
        img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
        .mask {
            position: absolute;
            width: 100%;
            height: 100%;
            background: linear-gradient(rgb(random(255), random(255), random(255)), rgb(random(255), random(255), random(255)));
        }
        h1 {
            position: absolute;
            font-size: 1.5em;
            margin: 0.67em 0;
            bottom: 0;
            left: 5%;
            font-weight: 700;
            color: #fff;
            letter-spacing: 0.015em;
        }
    }
    section {
        padding: 1rem;
    }
    .meta {
        div {
            font-size: 0.75rem;
            background-color: #838d96;
            display: inline-block;
            padding: 0.25em 0.4em;
            border-radius: 3px;
            color: #fff;
            font-weight: 700;
            letter-spacing: 0.015rem;
            margin-right: 0.25rem;
            &:first-child {
                background-color: #343a40;
                margin-right: 0.5rem;
            }
        }
    }
    article {
        padding: 1.5em 0;
    }
    .actions {
        height: 38px;
        text-align: right;
        div {
            position: absolute;
            bottom: 1rem;
            right: 1rem;
        }
    }
}

.resourceCard {
    display: flex;
    flex-direction: column;

    .meta 
        div {
            font-size: 0.75rem;
            background-color: #8ac2f3;
            display: inline-block;
            float: left;
            margin-left: 10px;
            margin-top: 10px;
            margin-bottom: 10px;
            padding: 0.25em 0.4em;
            border-radius: 3px;
            color: rgb(111, 114, 117);
            font-weight: 700;
            letter-spacing: 0.015rem;
            margin-right: 0.25rem;
            &:first-child {
                background-color: #2a74c965;
                margin-right: 0.5rem;
        }  
}

.deleteContainer 
        .deleteResource {
        
            float: right;
            background-color: rgb(128, 59, 59);
            width:20px;
            height: 20px;
            color: rgb(231, 224, 224);
            border-radius: 5px;
            margin-top: 10px;
            margin-right: 10px;
            font-weight: bold;    
            padding-bottom: 25px;    
        }

    }
    
    


.resourceContainerRS {
    display: flex;
    flex-direction: column;
    padding: 10px 20px 20px 20px;
       
    
}


.resourceContainer {
    display: flex;
    padding: 10px 20px 20px 20px;
}

.resourceArea {
    flex-direction: row;
    
    .votes {
        //padding: 1rem;
        padding-left: 20px;
        & > div {
            display: inline;
            float: left;
        }
        .voteCount {
            font-size: 1.5rem;
        }
        .actions {
            margin-left: 0.75rem;
            display: flex;
            flex-direction: column;
            button {

            }
        }
    }
}
.resourceCardHome {
    // display: flex;
    border:1px solid rgba(126, 125, 125, 0.322);
    width: 30%;
    padding: 20px 20px 20px 20px;
    margin: 20px;
    background-color: rgb(223, 236, 236);
    flex-direction: row;
    align-items: center;
    justify-content: left;
    box-shadow: 0 0 0.875rem 0 rgba(41, 48, 66, 0.05);
    border-radius: 5px;
    
}

.teamCardHome {
    position: relative;
    margin: 40px 50px 40px 50px;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid transparent;
    border-radius: .25rem;
    box-shadow: 0 0 0.875rem 0 rgba(41, 48, 66, 0.05);
    header {
        position: relative;
        width: 100%;
        height: 50px;
        img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
        .mask {
            // position: absolute;
            width: 100%;
            height: 100%;
            background: linear-gradient(rgb(random(255), random(255), random(255)), rgb(random(255), random(255), random(255)));
        }
        h1 {
            position: absolute;
            font-size: 1.5em;
            // margin: 0.67em 0;
            margin: 10px 10px 10px 10px;
            bottom: 0;
            left: 5%;
            font-weight: 700;
            color: rgb(241, 223, 223);
            letter-spacing: 0.015em;
        }
        
    }

    .footer {
        // margin-left: 20px;
        margin-right: 20px;
        .meta {
            div {
                margin-left: 0;
                margin-bottom:0;
                font-size: 0.75rem;
                float: left;
                
                background-color: #e2e2df81;
                display: inline-block;
                padding: 10px 10px 10px 10px;
                
                
                color: rgb(65, 62, 62);
                font-weight: 700;
                letter-spacing: 0.015rem;
                margin-right: 0.25rem;
            }
        }

        .homeLink {
            display: inline-block;
            float: right;
            font-size: 14px;
            color:rgb(5, 5, 5)
        }
        .homeLink:hover {
            color:rgb(131, 128, 128);
            cursor: pointer;
        }
    }

    section {
        padding: 1rem;
    }
    
    article {
        padding: 1.5em 0;
    }
    .actions {
        height: 38px;
        text-align: right;
        div {
            position: absolute;
            bottom: 1rem;
            right: 1rem;
        }
    }
}

.container
.tagContainer {
    display: flex;
    flex-direction: row;
    h2 {
        color: rgb(83, 76, 76);
        margin-right : 10px;
    }
    .meta {
        div {
            font-size: 0.75rem;
            float: right;
            margin-bottom: 20px;
            background-color: #838d96;
            display: inline-block;
            padding: 0.25em 0.4em;
            border-radius: 3px;
            color: #fff;
            font-weight: 700;
            letter-spacing: 0.015rem;
            margin-right: 0.25rem;
            cursor: pointer;
            &:first-child {
                background-color: #343a40;
                margin-right: 0.5rem;
            }
        }
    }
}

.link {
    display: flex;
    flex-direction: column;  
    padding-left: 10px;
    padding-right: 20px;  
    a {
      text-decoration: none
    }
    .resourceDomain {
        font-size: 11px;
        align-items: center;
    }
    .resourceTitle {
        color: black;
        font-weight: bold;
    }
    .resourceDescription {
        color: rgb(94, 89, 89);
        font-size: 13px;
    }
    img {
        width: 400px;
        max-height: 300px;

    }
}


.teamCardHome {
    
    .link {
        display: flex;
        flex-direction: column;    
        a {
        text-decoration: none
        }
        .resourceTitle {
            margin-bottom: 20px;
            color: black;
            font-weight: bold;
            font-size: 14px;
        }
        .resourceDescription {
            color: rgb(94, 89, 89);
            font-size: 13px;
        }
        img {
            width: 100%;
            max-height: 200px;
            

        }
        .resourceDomain {
            font-size: 11px;
            align-items: center;
        }
    }
}